# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  pull_request:
    branches: ["main"]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-22.04
    # Attach to GitHub Environment for protection rules & history
    env:
      FB_API_KEY: ${{ secrets.FB_API_KEY }}
      FB_APP_ID: ${{ secrets.FB_APP_ID }}
      FB_AUTH_DOMAIN: ${{ secrets.FB_AUTH_DOMAIN }}
      FB_MEASUREMENT_ID: ${{ secrets.FB_MEASUREMENT_ID }}
      FB_MSG_SENDER_ID: ${{ secrets.FB_MSG_SENDER_ID }}
      FB_PROJECT_ID: ${{ secrets.FB_PROJECT_ID }}
      FB_STORAGE_BUCKET: ${{ secrets.FB_STORAGE_BUCKET }}
    environment:
      name: github-pages
      url: https://garrettholland.com
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.152.2'
          # extended: true

      - name: Cache resources
        uses: actions/cache@v4
        with:
          path: resources
          key: ${{ runner.os }}-hugo-${{ hashFiles('content/**/*') }}
          restore-keys: |
            ${{ runner.os }}-hugo-

      - name: Build
        run: hugo build --minify

      - name: Upload build (PR preview artifact)
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: hugo-preview
          path: public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: garrettholland.com